.buttons {
	position: relative;
	z-index: 0;
	text-align: center;
	object-position: center;
}

.button {
  background-color: white; /* White */
  border: none;
  color: #FF2A9C; /*darker pink*/
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;

}

.button {
  transition-duration: 0.4s;
  margin-right: 24px;
}

.button:hover {
  background-color: white; /* Green */
  color: #FF2A9C;
  opacity: 0.6;
}


.button-pink {
  background-color: #FF2A9C; /* White */
  border: none;
  color: white; /*darker pink*/
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;


}

.button-pink {
  transition-duration: 0.4s;
  margin-right: 24px;
}

.button-pink:hover {
  background-color: #FF2A9C; /* Pink */
  color: white;
  opacity: 0.6;
}

.buttons-pink {
  display: inline-block;
  position: relative;
  z-index: 0;
  text-align: center;
  object-position: center;
  padding-bottom: 24px;
}